{
  "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
  "ignorePatterns": ["**/vendor/**"],
  "rules": {
    "@wordpress/no-unsafe-wp-apis": "off"
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false
  }
}
